<div class="coluna mt-4">
  <h3
    align="center"
    class="text-dark font-weight-bold mb-2">
    Inscreva-se
  </h3>

  <div class="d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="background-color: white">
                <i class="material-icons text-primary">
                  person_outline
                </i>
              </div>
            </div>

            <%= f.text_field :name, autofocus: true, autocomplete: "name",
                             class: "form-control",placeholder: "Nome *" %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="background-color: white">
                <i class="material-icons text-primary">
                  person_outline
                </i>
              </div>
            </div>

            <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name",
                             class: "form-control", placeholder: "Apelido" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" style="background-color: white">
              <i class="material-icons text-primary">
                email
              </i>
            </div>
          </div>

          <%= f.email_field :email, autofocus: true, autocomplete: "email",
                            class: "form-control", placeholder: "Email *" %>
        </div>
      </div>

      <% if @minimum_password_length %>
      <% end %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="background-color: white">
                <i class="material-icons text-primary">
                  lock
                </i>
              </div>
            </div>

            <%= f.password_field :password, autocomplete: "new-password",
                                 class: "form-control", placeholder: "Senha *" %>
          </div>

          <small class="form-text text-muted">
            <em>
              (Mínimo <%= @minimum_password_length %> caracteres)
            </em>
          </small>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="background-color: white">
                <i class="material-icons text-primary">
                  lock
                </i>
              </div>
            </div>

            <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                 class: "form-control", placeholder: "Confirme *" %>
          </div>

          <small class="form-text text-muted">
            <em>
              (Mínimo <%= @minimum_password_length %> caracteres)
            </em>
          </small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" style="background-color: white">
              <i class="material-icons text-primary">
                phone
              </i>
            </div>
          </div>

          <%= f.text_field :phone, autofocus: true, autocomplete: "phone",
                           class: "form-control", placeholder: "DDI-DD-Telefone" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="background-color: white">
                <i class="material-icons text-primary">
                  account_box
                </i>
              </div>
            </div>

            <%= f.text_field :instagram, autofocus: true, autocomplete: "instagram",
                             class: "form-control", placeholder: "Instagram" %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="background-color: white">
                <i class="material-icons text-primary">
                  account_box
                </i>
              </div>
            </div>

            <%= f.text_field :twitter, autofocus: true, autocomplete: "twitter",
                             class: "form-control", placeholder: "Twitter" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.text_area :description,
                        autofocus: true,
                        autocomplete: "description",
                        class: "form-control",
                        placeholder: "Descrição",
                        style: "height: 100px" %>
      </div>

      <div class="group" align="center">
        <%= f.submit "REGISTRAR", class: "btn btn-default btn-primary btn-block mb-2 font-weight-bold" %>

        <a href="/users/sign_in/">Já possui uma conta!? Faça login agora mesmo</a>
      </div>
    <% end %>
  </div>
</div>
